.backButtonCont {
    display: flex;
    justify-content: end;
    color: #171A1FB3;
}

.backButton {
    width: 32px;
    height: 32px;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
}

.backButton:hover {
    opacity: 1;
}