@font-face {
    font-family: 'Inter-Regular';
    src: url('../assets/fonts/Inter-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.resPassPage {
    position: relative;
    background-image: url("../assets/star_sky.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.header {
    height: 11%;
}

.main {
    display: flex;
    height: 89%;
}

.leftColumn {
    width: 22.5%;
}

.middleColumn {
    width: 55%;
}

.resPassForm {
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resPassForm2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 75%;
    background-color: white;
    border-radius: 24px;
}

.resPassForm3 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.leftColumn2 {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: start;
    height: 85%;
    width: 10%;
}

.resPassForm4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    height: 90%;
    width: 80%;
}

.rightColumn2 {
    width: 10%;
}

.text {
    display: flex;
    justify-content: center;
    align-items: end;
    height: 12%;
}

.inputCont {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
}

.inputCont2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 75%;
}

.button {
    height: 13.33%;
}

.footer {
    height: 8%;
}

.rightColumn {
    width: 22.5%;
    transform: scaleX(-1);
}